# LaravelのAPP_KEY
laravel_APP_KEY: <APP_KEY>
# Apacheのmpm_prefork_moduleに設定するパラメーター
apache_StartServers: 35
apache_MinSpareServers: 5
apache_MaxSpareServers: 35
apache_MaxRequestWorkers: 35
apache_MaxConnectionsPerChild: 0